<!--nskk2 -->
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
      <%= render "shared/sidenav" %>
    </div>

    <div class="col-sm-10" style="padding-right: 50px">

      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">修改评估项</h3>
         
        </div>

        <div class="panel-body">

          <table class="table table-responsive table-condensed table-hover" style="margin-top: 10px;">
            <thead>
            <tr style="font-size:16px;" >
              <th class="col-sm-8">评估项</th>
              <th>操作</th>
            </tr>
            </thead>

            <tbody style="font-size:16px;" >

              <% @evaluationitems.each do |item| %>     
                <% if item.itemcontent=="总体评价" 
                   else %>
                <tr>
                  <%= form_for item, url: itemupdate_evaluation_path(id: item.id), method: :patch do |f|%>
                    <td>
                      <%= f.text_field :itemcontent , :style=>"width:500px" %>
                    </td>
                    <td>
                      <%= f.submit "保存", class: 'btn btn-xs btn-primary',:style=>"font-size:15px;"%>
                      <%= link_to "删除", itemdelete_evaluation_path(id: item.id), :method => "delete", class: 'btn btn-xs btn-danger', :style=>"font-size:15px;",:data => {confirm: '确定要删除此评估项?'} %>
                    </td>
                  <% end %> 
                </tr>
                <% end %>
              <% end %>


            </tbody>
          </table>
          <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />

          <table class="table table-responsive table-condensed table-hover" style="margin-top: 10px;">
            <thead>
            <tr style="font-size:16px;" >
              <th class="col-sm-8">新增评估项</th>
              <th>操作</th>
            </tr>
            </thead>

            <tbody style="font-size:16px;" >                
                <tr>
                  <%= form_tag(itemadd_evaluations_path, method: "post") do%>
                    <td>
                      <%= text_field_tag(:itemcontent, "",:style=>"width:500px") %>
                    </td>
                    <td>  
                      <%= submit_tag("增加",class: 'btn btn-xs btn-primary',:style=>"font-size:15px;")%>
                    </td>
                  <% end %> 
                </tr>            
            </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>
</div>