<!--sgg4 -->
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
      <%= render "shared/sidenav" %>
    </div>

    <div class="col-sm-10" style="padding-right: 50px">

      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <% if student_logged_in? %><h3 class="panel-title">评估课程</h3>
          <% end %>
        </div>

        <div class="panel-body">
          <table class="table table-responsive table-condensed table-hover">
            <thead>
            <!--sgg30 style all-->
            <tr style="font-size:16px;" >
              <th>课程编号</th>
              <th>课程名称</th>
              <th>课时/学分</th>
              <th>考试方式</th>
              <th>主讲教师</th>
              <th>操作</th>
            </tr>
            <!--sgg31 style all-->
            <tbody style="font-size:16px;">
            <% @course.each do |course| %>
                <tr>

                  <!--#Has it been evaluated?-->
                  <% evaluation1=Evaluation.where(:user_id=>current_user.id,:course_id=>course.id).first                   
                     if evaluation1.nil? 
                        label="评估"                                     
                     else                                                  
                        label="修改评估"                            
                     end                                                       
                  %>

                  <td><%= course.course_code %></td>
                  <td><%= course.name %></td>
                  <td><%= course.credit %></td>
                  <td><%= course.exam_type %></td>
                  <!-- sgg1 delete &-->
                  <td><%= course.teacher.name %></td>

                  <% if teacher_logged_in? %>
                      <td><%= link_to "编辑", edit_course_url(course), class: 'btn btn-xs btn-info' %></td>
                      <% if course.open? %>
                          <td><%= link_to "关闭", close_course_url(course), class: 'btn btn-xs btn-info' %></td>
                      <% else %>
                          <td><%= link_to "开通", open_course_url(course), class: 'btn btn-xs btn-info' %></td>
                      <% end %>
                      <td><%= link_to "删除", course_path(course), :method => "delete", class: 'btn btn-xs btn-danger', :data => {confirm: '确定要删除此课程?'} %></td>
                  <% elsif student_logged_in? %>
                      <td><%= link_to label, edit_evaluation_url(course), class: 'btn btn-xs btn-primary',
                              :style=>"font-size:14px;"%></td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
          <%= will_paginate @course %>
        </div>
      </div>
    </div>
  </div>
</div>