<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%= render "shared/sidenav" %>

    </div>
    
    <div class="col-sm-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">课程表&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="button"  class="btn btn-primary" value="打印" onclick="doPrint()" /></h3>
        </div>
        <!--startprint-->
        <div class="panel-body" style="min-height: 450px">
          <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
              <th ></th>
              <th>节次（上课时间）/星期</th>
              <th>星期一</th>
              <th>星期二</th>
              <th>星期三</th>
              <th>星期四</th>
              <th>星期五</th>
              <th>星期六</th>
              <th>星期日</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                  <th  rowspan="4" rowspan=$rowspan style='vertical-align: middle;text-align: center;'>上午</th>
                  <th >01（08：30-09：20）</th>
                  <% @courseT[0,7].each do |courseT| %>
                      <td><%= courseT %></td>
                    
                  <% end %>
        
                </tr>
                <tr>
                  <th>02（09：20-10：10）</th>
                  <% @courseT[7,7].each do |courseT| %>
                      <td><%= courseT %></td>
                  <% end %>
                </tr>
                <tr>
                  <th>03（10：30-11：20）</th>
                  <% @courseT[14,7].each do |courseT| %>
                      <td><%= courseT %></td>
                  <% end %>
                </tr>
                <tr>
                  <th>04（11：20-12：10）</th>
                  <% @courseT[21,7].each do |courseT| %>
                      <td><%= courseT %></td>
                  <% end %>
                </tr>
                <tr>
                  <th rowspan="4" rowspan=$rowspan style='vertical-align: middle;text-align: center;'>下午</th>
                  <th>05（13：30-14：20）</th>
                  <% @courseT[28,7].each do |courseT| %>
                      <td><%= courseT %></td>
                  <% end %>
                </tr>
                <tr>
                  <th>06（14：20-15：10）</th>
                  <% @courseT[35,7].each do |courseT| %>
                      <td><%= courseT %></td>
                  <% end %>
                </tr>
                <tr>
                  <th>07（15：30-16：20）</th>
                  <% @courseT[42,7].each do |courseT| %>
                      <td><%= courseT %></td>
                  <% end %>
                </tr>
                <tr>
                  <th>08（16：20-17：10）</th>
                  <% @courseT[49,7].each do |courseT| %>
                      <td><%= courseT %></td>
                  <% end %>
                </tr>
                <tr>
                  <th rowspan="3" rowspan=$rowspan style='vertical-align: middle;text-align: center;'>晚上</th>
                  <th>09（19：00-19：50）</th>
                  <% @courseT[56,7].each do |courseT| %>
                      <td><%= courseT %></td>
                  <% end %>
                </tr>
                <tr>
                  <th>10（19：50-20：40）</th>
                  <% @courseT[63,7].each do |courseT| %>
                      <td><%= courseT %></td>
                  <% end %>
                </tr>
                <tr>
                  <th>11（20：40-21：50）</th>
                  <% @courseT[70,7].each do |courseT| %>
                      <td><%= courseT %></td>
                  <% end %>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-10 pull-right">
      
    </div>
  </div>
</div>
<!--endprint-->
<script type="text/javascript">
    function doPrint() {   
    bdhtml=window.document.body.innerHTML;   
    sprnstr="<!--startprint-->";   
    eprnstr="<!--endprint-->";   
    prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+17);   
    prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));   
    window.document.body.innerHTML=prnhtml;  
    window.print();   
}  
</script>




